.large {
    width: 40px;
    height: 40px;
}

.medium {
    width: 24px;
    height: 24px;
}

.small {
    width: 16px;
    height: 16px;
}

.wrapper_large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 160px;
}

.wrapper_medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.wrapper_small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
}