.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    margin-left: 40px;
}

.spacer{
    min-height: 100px;
}

.footer{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-self: end;
    gap: 40px;
    height: 120px;

    .span{
        align-content: center;
    }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100% - 120px - 100px);
}

.scrollable{
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow:scroll;
	overflow-x:hidden;
}

.drag_icon{
    height: 32px;
}

.empty_top_bun,
.empty_bottom_bun,
.empty_ingredient {
	align-content: center;
	height: 80px;
	margin: 0 20px 0 40px;
	text-align: center;
	background-color: var(--background-element);
}

.empty_top_bun {
	border-radius: 70px 70px 20px 20px;
}

.empty_bottom_bun {
	border-radius: 20px 20px 70px 70px;
}

.empty_ingredient {
	border-radius: 40px;
}

@keyframes squeeze {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}

	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

.squeezed {
	transform-origin: center center;
	animation: squeeze 0.5s forwards;
}
