.modal{
	position: relative;
	z-index: 20;
	gap: 0;
	min-width: 450px;
	padding: 40px;
    background: black;
	border-radius: 40px;
	box-shadow: 0 0 10px #4c4cff;
}

.wrapper{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.close{
	position: absolute;
	top: 40px;
	right: 40px;
	color: white;
	background: black;
}


