.container {
	display: grid;
	grid-template-columns: 1fr 600px 40px 600px 1fr;
	grid-template-rows: 88px calc(100vh - 88px);
	overflow: hidden;
}

.header { grid-area: 1 / 2 / 2 / 5; }

.content {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 88px);
	grid-area: 2 / 2 / 3 / 5;
}