.container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 640px;
	height: 458px;
	margin-top: 20px;
}

.image {
	width: 100%;
}

.energy_value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}
